body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.container-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-op {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.519);
}

.card {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.519);
    max-width: 500px;
    margin: 10px;
    height: 60%;
    z-index: 100;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333333;
    margin: 10px 0;
    background-image: url('./assets/pfl.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.link {
    color: #ffffff;
    font-size: 16px;
    padding: 8px;
    margin: 7px;
    text-decoration: none;
    background-color: #3a29ce;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    border-radius: 8px;
    height: 30px;
}

.link:hover {
    opacity: 0.9;
}

.title {
    font-size: 22px;
    color: #333333;
    margin: 7px;
    font-weight: bold;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

.icon {
    padding: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-label {
    color: #ffffff;
    line-height: 24px;
    cursor: pointer;
}

.wpp {
    background-color: green;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.email {
    background-color: #470063;
}